<th:block th:include="@{_header.html}"/>
<main>
    <!-- 카테고리/베스트 상품 영역 -->
    <aside>
        <th:block th:include="@{_category.html}"/>
    </aside>

    <!-- 장바구니 -->
    <section id="cart">
      
      <!-- 제목, 페이지 네비게이션 -->
      <nav>
        <h1>장바구니</h1>
        <p>
          HOME > <span>패션·의류·뷰티</span> > <strong>장바구니</strong>
        </p>
      </nav>
      
      <section>
        <form action="#">
          <table>
            <thead>
              <tr>
                <th><input type="checkbox" name="all"></th>
                <th>상품명</th>
                <th>총수량</th>
                <th>판매가</th>
                <th>할인율</th>
                <th>포인트</th>
                <th>배송비</th>
                <th>소계</th>
              </tr>
            </thead>
            <tbody>
              <tr class="empty">
                <td colspan="7">장바구니에 상품이 없습니다.</td>
              </tr>
              <tr th:each="product:${products}">
                <td><input type="checkbox" name=""></td>
                <td>
                  <article>
                    <a href="#">
                    	<img th:src="@{/thumb/{c1}/{c2}/{img}(c1=${product.cate1}, c2=${product.cate2}, img=${product.thumb1})}" alt="장바구니 목록 이미지">
                   	</a>
                    <div>
                      <h2><a href="#">[[${product.name}]]</a></h2>
                      <p></p>
                    </div>
                  </article>
                </td>
                <td class="count">[[${product.count}]]</td>
                <td class="price">[[${#numbers.formatInteger(product.price, 0, 'COMMA')}]]</td>
                <td class="discount">[[${product.discount}]]</td>
                <td class="point">[[${product.point}]]</td>
                <td class="delivaery" th:if="${product.delivery} == 0">무료 배송</td>
                <td class="delivaery" th:unless="${product.delivery} == 0">[[${#numbers.formatInteger(product.delivery, 0, 'COMMA')}]]</td>
                <td class="total">[[${#numbers.formatInteger(product.total, 0, 'COMMA')}]]</td>
              </tr>
            </tbody>
          </table>
          <input type="button" name="del" value="선택삭제">
        </form>
      </section>

      <div class="info">
        <h2>전체합계</h2>
        <table border="0">
          <tr>
            <td>상품수</td>
            <td>1</td>
          </tr>
          <tr>
            <td>상품금액</td>
            <td>27,000</td>
          </tr>
          <tr>
            <td>할인금액</td>
            <td>-1,000</td>
          </tr>
          <tr>
            <td>배송비</td>
            <td>0</td>
          </tr>              
          <tr>
            <td>포인트</td>
            <td>260</td>
          </tr>
          <tr>
            <td>전체주문금액</td>
            <td>26,000</td>
          </tr>
        </table>
        <input type="button" name="" value="주문하기">

      </div>
      



    </section>
</main>
<th:block th:include="@{_footer.html}"/>