<script>
	$(function(){
		// 카테고리 메뉴 가져오기
		
		var category = $('.category');
		
		/*
			data= CategoriesVo 이므로  $.each 반복문을 실행 할 때, 
			code1의 개수(9개) 만큼 반복 한다.
		*/
		$.get('/Kmarket/categories', function(result){
			
			$.each(result, function(i, data){
				
				var ico = '';
				if(i==0) ico = 'fas fa-shopping-bag';
				if(i==1) ico = 'fas fa-tshirt';
				if(i==2) ico = 'fas fa-baby-carriage';
				if(i==3) ico = 'fas fa-utensils';
				if(i==4) ico = 'fas fa-home';
				if(i==5) ico = 'fas fa-tv';
				if(i==6) ico = 'fas fa-running';
				if(i==7) ico = 'fas fa-car';
				if(i==8) ico = 'fas fa-book';
				
				var tag  = "<li>";
					tag += "<a href='#'><i class='"+ico+"'></i>"+data.title+"</a>";
					tag += "<ol></ol>";
					tag += "</li>";
				
				category.append(tag);
				
				// 2차 메뉴(리스트) 불러오기
				/* 
					vo = list<Cate2Vo>
					category 클래스의 ol 태그에 1차 데이터 반복 횟수와 같을 때 
					li태그내용(Cate2Vo의 title)을 넣어준다.
				*/
				$.each(data.cate2List, function(j, vo){
					// DB cate2의 코드1, 코드2 값을 참조해서 사이트 주소값으로 쓴다.(controller로 전송)
					$('.category ol').eq(i).append("<li><a href='/Kmarket/shop/list?cate1="+vo.code1+"&cate2="+vo.code2+"'>"+vo.title+"</a></li>");
					
				});
			});
			
		});
		
	});


</script>

<!-- 카테고리 -->
<ul class="category">     
    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
</ul>