<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="UTF-8">
	<title>list</title>

</head>
<body>
	<a th:href="@{/user/register}">직원등록</a>
	
	<h4>직원목록</h4>
	<table border="1">
		<tr>
			<th>아이디</th>
			<th>이름</th>
			<th>휴대폰</th>
			<th>직급</th>
			<th>부서</th>
			<th>입사일</th>
			<th>관리</th>
		</tr>
		
		<tr th:each="user:${users}">
			<td>[[${user.uid}]]</td>
			<td>[[${user.name}]]</td>
			<td>[[${user.hp}]]</td>
			<td>[[${user.pos}]]</td>
			<td>[[${user.dep}]]</td>
			<td>[[${user.rdate.substring(2,10)}]]</td>
			<td>
				<a th:href="@{/user/modify(uid=${user.uid})}">수정</a>
				<a th:href="@{/user/delete(uid=${user.uid})}">삭제</a>
			</td>
		</tr>
	</table>
	<a th:href="@{/user/list}">User List</a>
	<a th:href="@{/user/register}">User Register</a>
	<a th:href="@{/user/modify}">User Modify</a>
	
	
</body>
</html>